.main{
    display: flex;
    padding: 12px 4px;
    margin: 10px 0;
}
.todo_list_panel{
    display: flex;
    width: 500px;
    
}
.todo{
    display: flex;
    width: 500px;
    padding: 1px 2px;
    margin: 5px 0;
    border-radius: 5px;
    font-weight: 700;
    box-sizing: border-box;
    top: 5px;
    
}
.todo_done{
    align-items: right;
    color: green;
}

.todo_delete{
    align-items: right;
    color: red;
}
